/*
======================
Font definitions 
======================
*/
@font-face {
  font-family: "Roboto-latin";
  src: url("/assets/fonts/roboto-latin/roboto-v20-latin-regular.woff2") format("woff2");
  /* url('/fonts//roboto-latin/roboto-v20-latin-regular.woff') format('woff'); */
  font-display: swap;
}

/*
======================
Typography
======================
*/
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-family: "Roboto-latin", Arial, Helvetica, sans-serif;
}

a {
  color: dodgerblue;
  text-decoration: none;
}

table {
  border: none;
}

.nav__hamburger svg {
  height: 2.3rem;
  width: 2.3rem;
}

.toc {
  padding: 1em 2em;
  border: 1px solid #bbb;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 4em;
  }
  h2 {
    padding-top: 1em;
    font-size: 2.5em;
  }
  h3 {
    font-size: 1.75em;
  }
}

.spec {
  font-weight: bold;
  color: darkred;
}

/*
======================
Images
======================
*/
img.fixed-width {
  width: 500px;
  height: auto;
}

img.fixed-width-slice {
  width: 133px;
  height: auto;
}

img.full-width {
  width: 100%;
  height: auto;
}

/* fade image in after load */
/* .lazyload,
.lazyloading {
	opacity: 0;
}
.lazyloaded {
	opacity: 1;
	transition: opacity 300ms;
} */
