/*
======================
Fonts
======================
*/

@font-face {
  font-family: 'Roboto-latin';
  src: url('../fonts/roboto-latin/roboto-v20-latin-regular.woff2')
    format('woff2');
  /* url('/fonts//roboto-latin/roboto-v20-latin-regular.woff') format('woff'); */
  font-display: swap;
}

/*
======================
Reset
======================
*/
:root {
  --primaryColor: #f1f1f1;
  --black: #222;
  --black2: #555;
  --black3: #252525;
  --black4: #000;
  --black5: #212529;
  --orange: #eb0028;
  --white: #fff;
  --grey: #959595;
  --grey2: #666;
  --grey3: #ccc;
  --secondaryColor: #2b1f4d;
  --yellow: #ffcc00;
  --green: #59b210;
  --blue: rgb(56, 10, 223);
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body,
input {
  font-size: 1.0rem;
  font-weight: 400;
  font-family: 'Roboto-latin';
  color: var(--black);
  padding: 1.6rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

h3,
h4 {
  font-weight: 500;
}

/*
======================
Header
======================
*/

.header {
  position: relative;
}

.container {
  max-width: 117rem;
  margin: 0 auto;
  padding: 0 1.6rem;
}

/*
======================
Hero Area
======================
*/

img.full-width {
  width: 100%;
  /* height: auto; */
  border: 5px solid black;
}

/*
======================
Images
======================
*/

.hero {
  margin: 10px;
}

img.fixed-width {
  width: 500px;
  border: 5px solid black;
  height: auto;
}

img.fixed-width-slice {
  width: 133px;
  height: auto;
}

img.full-width {
  width: 100%;
  border: 5px solid black;
  height: auto;
}

picture > img.is-autoartdirect {
	font-family: "artdirect";
}

.row {
  display: flex;
}

.column {
  margin: 10px;
  flex: 50%;
}

/* fade image in after load */
/* .lazyload,
.lazyloading {
	opacity: 0;
}
.lazyloaded {
	opacity: 1;
	transition: opacity 300ms;
} */
